*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    
}

.dashboard{
    display:grid;
    grid-template-columns: 0.5th 1th 1th 1th 1th 1th;
    grid-template-rows: 0.5th 1th 1th 1th 1th 1th 1th ;
}

.sidebar{
    background-color:burlywood;
    display:flex;
    flex-flow: column;
    grid-column: 1/1;
    grid-row: 1/8;
    padding:33px;
    
}
.logo{
    display:flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 64px;
   
}
.img{
    height:14px;
    width:auto;
    
}

.imgl{
    height:25px;
    width:auto;
}
.logoText{
    font-size:2rem;
    color:black;
    font-weight: 800;
}
.menu{
    display:flex;
    align-items: center;
    gap:15px;
    margin-bottom: 5px;
}
.nav{
    font-size:1.1rem;
    font-weight: 500;
}
.menuu{
display:flex;
align-items: stretch;
justify-content: space-around;
align-items: center;
padding:10px;
}

.imgm{
    height:30px;
    width:Auto;
}
#site-search{
    background-color: gainsboro;
    border-radius: 10px;
    padding:7px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    transition: ease-in-out, width .35s ease-in-out;
    padding-right: 100px;
    padding-left: 50px;


}
.imgo{
    height:40px;
    width:Auto;
    border-radius:50%;
}
.start{
    display: flex;
    justify-content: flex-start;
    gap:15px;
    align-items: center;
}
.end{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    align-items: center;
}
.right{
    display: flex;
    justify-content: flex-start;
    gap:15px;
}
.names{
    display: flex;
    flex-flow: column;
}
.name{
    font-size:15px;
    font-weight: 600;
    margin-bottom: 2px;
}
.name2{
    font-size:13px;
    color:gray;
}
.hi{
    font-size:0.7rem;
    font-weight: 500;
    color:gray;
}

.mor{
    font-size:1.4rem;
    font-weight: 800;
}
.second{
    display:flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
    padding-top:30px;
    padding-bottom: 10px;
}
.buttons{
    display:flex;
    justify-content: flex-end;
   gap:15px;
}

.btns{
    color:black;
    background-color: beige;
    font-size:1rem;
    font-weight: 100;
    color:black;
    border:none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;;
    border-radius: 5px;
}
.btns:hover{
    background-color: bisque;
    transition: ease-in-out, width .35s ease-in-out;
}
.last{
    background-color: lightgrey;
    display:grid;
    grid-template-columns: 1th 1th 1th 1th 1th 1th;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 10px;
    transition: ease-in-out, width 5s ease-in-out;
}
.second{
    margin-bottom: 10px;
}

.cont{
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid lightgoldenrodyellow;
    padding:15px;
    margin:10px;
}

.a{
    grid-column: 1/1;
}
.b{
    grid-column: 2/2;
}
.c{
    grid-column: 3/3;
}
.con{
    background-color: white;
    border-radius: 10px;
    border-top: 5px solid lightgoldenrodyellow;
    padding:15px;
    flex: auto;
    margin:10px;
}

.h{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
.h2{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hp{
    margin-bottom: 25px;
    font-size: 15px;
   
}
.hps{
    font-size: 13px;
    margin-bottom: 25px;
}
.p{
    font-weight:700;
    font-size:18px;
    padding:15px;
}
.tw{
    display:flex;
    gap:10px;
    padding:5px;
    align-items:center;
    margin-bottom: 15px;
}
.tw1{
    font-size:12px;
    color:gray;
}
.tw2{
    font-weight:600;
    font-size:14px;
}

.icons{
    display:flex;
    justify-content: flex-end;
    gap:15px;
}
.box{
    display:grid;
    grid-template-columns: 1th 1th 1th;
    grid-template-rows: 1th 1th 1th;
    gap: 15px;
}
.boxes{
    grid-column: 1/5;
}
.m{
    grid-column: 7/7;
}
.board{
    grid-column: 2/6;
    grid-row:1/7;
}
hr{
    margin:15px;
}
